
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KayitOl</title>
</head>
<body>
    <form action="/Home/KayitOl" method="POST">
        <label for="fname">Kullanici Adi:</label>
        <input type="text" id="kullaniciAdi" name="kullaniciAdi"><br><br>
        <label for="lname">Sifre:</label>
        <input type="password" id="sifre" name="sifre"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
